DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=myapp
DB_PASSWORD=myapp_password
DB_NAME=myapp_dev
DB_SSL=false

JWT_ACCESS_SECRET=mkladfmk8.89.asdmfk
JWT_REFRESH_SECRET=dakmsdf67.laskfmdkl
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.2
